In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
%matplotlib inline

In [ ]:
!pip install xgboost

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/6a/49/7e10686647f741bd9c8918b0decdb94135b542fe372ca1100739b8529503/xgboost-0.82-py2.py3-none-manylinux1_x86_64.whl (114.0MB)
    100% |████████████████████████████████| 114.0MB 10kB/s  eta 0:00:01
Collecting numpy (from xgboost)
  Downloading https://files.pythonhosted.org/packages/d7/b1/3367ea1f372957f97a6752ec725b87886e12af1415216feec9067e31df70/numpy-1.16.5-cp27-cp27mu-manylinux1_x86_64.whl (17.0MB)
    100% |████████████████████████████████| 17.0MB 70kB/s  eta 0:00:01
Collecting scipy (from xgboost)
  Downloading https://files.pythonhosted.org/packages/1d/f6/7c16d60aeb3694e5611976cb4f1eaf1c6b7f1e7c55771d691013405a02ea/scipy-1.2.2-cp27-cp27mu-manylinux1_x86_64.whl (24.8MB)
    100% |████████████████████████████████| 24.8MB 48kB/s  eta 0:00:01
Installing collected packages: numpy, scipy, xgboost

In [72]:

from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix, classification_report
from sklearn import preprocessing

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
import tensorflow as tf

In [10]:
df = pd.read_csv('./input/Train_dt_v3.csv')

In [11]:
df.head()

,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,...,Col2388,Col2389,Col2390,Col2391,Col2392,Col2393,Col2394,Col2395,Col2396,Col2397
0,RIGHGSN,1,1.086711e+04,8.648345e+03,1.576618e+04,2.890466e+04,5.273655e+03,2.346153e+04,1.285597e+04,2.871509e+04,...,0,1,0,1,214.0,214.0,68.0,22.0,22.0,7.0
1,RIMHI5ZGP,0,2.584312e+05,2.179633e+05,1.866287e+05,1.866287e+05,2.154519e+05,1.923615e+05,1.726538e+05,1.666974e+05,...,0,0,0,0,41.0,41.0,38.0,12.0,12.0,11.0
2,RIHOG1SZU,0,1.459355e+07,1.260060e+07,1.100315e+07,1.010315e+07,1.879882e+07,1.514035e+07,5.320778e+06,6.906324e+06,...,0,1,1,0,378.0,378.0,310.0,21.0,21.0,16.0
3,RIHOLMQWU,0,6.727043e+05,8.181116e+05,6.794893e+05,6.794893e+05,8.257254e+05,7.605803e+05,3.577134e+05,4.236612e+05,...,0,0,0,0,702.0,702.0,644.0,951.0,951.0,743.0
4,RIHO584ET,0,-1.218742e+06,-3.005361e+06,-1.666241e+05,-2.403574e+06,2.583183e+06,2.086546e+06,5.938358e+06,5.446532e+06,...,0,0,0,0,1305.0,1305.0,1211.0,2205.0,2205.0,1831.0

In [12]:
df['Col1'].nunique()

17521

In [13]:
def drop_col(df,columns):
    df.drop(columns=columns, axis=1, inplace=True)
    return df

In [14]:
df = drop_col(df,['Col1'])

In [116]:
X = df[df.columns.difference(['Col2'])]

In [117]:
X = X.to_numpy()

In [118]:
Y = df['Col2'].to_numpy()

In [125]:
X.shape, Y.shape

((17521, 2171), (17521,))

In [122]:
def normalize_train_X(X):
    min_max_scaler = preprocessing.MinMaxScaler()
    X_transformed = min_max_scaler.fit_transform(X)
    return X_transformed, min_max_scaler

In [123]:
X_transformed, transformer = normalize_train_X(X)
X_transformed, X_transformed.shape

(array([[1.02971928e-03, 0.00000000e+00, 3.33333333e-01, ...,
         1.66666667e-01, 3.33333333e-01, 6.00000000e-01],
        [5.97774630e-03, 0.00000000e+00, 5.00000000e-01, ...,
         0.00000000e+00, 1.66666667e-01, 0.00000000e+00],
        [2.47659869e-01, 1.42857143e-01, 6.66666667e-01, ...,
         1.66666667e-01, 6.66666667e-01, 0.00000000e+00],
        ...,
        [1.46924491e-03, 1.42857143e-01, 0.00000000e+00, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [2.01021889e-03, 0.00000000e+00, 5.00000000e-01, ...,
         3.33333333e-01, 5.00000000e-01, 4.00000000e-01],
        [3.13078135e-06, 1.42857143e-01, 0.00000000e+00, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00]]), (17521, 2171))

In [126]:
X_train, X_test, Y_train, Y_test = train_test_split(X_transformed,Y, test_size=0.20, random_state=42, stratify=Y)
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(14016, 2171) (3505, 2171) (14016,) (3505,)

In [127]:
def xg_boost_train(X,Y):

    model = XGBClassifier()
    model.fit(X, Y)
    print(model)
    return model

In [128]:
def xg_boost_predit(model, X_test):
   
    print(X_test)
    y_pred = model.predict(X_test)
   
    predictions = [round(value) for value in y_pred]
    return predictions

In [102]:
def accuracy(Y_test, predictions):
    accuracy = accuracy_score(Y_test, predictions)
    print("Accuracy: %.2f%%" % (accuracy * 100.0))

In [84]:
model = xg_boost_train(X_train, Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [130]:
def predict(model,X_test, Y_test):
    pred = xg_boost_predit(model, X_test)
    accuracy(Y_test, pred)
    print(confusion_matrix(Y_test, pred))
    print(f1_score(Y_test, pred))
    print(classification_report(Y_test, pred))

In [131]:
X_test = transformer.transform(X_test)

In [104]:
predict(model,X_test, Y_test, )

[[5.79114065e-12 0.00000000e+00 8.33333333e-02 ... 2.77777778e-02
  8.33333333e-02 8.00000000e-02]
 [1.46048174e-12 4.08163265e-02 1.11111111e-01 ... 5.55555556e-02
  5.55555556e-02 8.00000000e-02]
 [2.02918003e-11 2.04081633e-02 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 4.00000000e-02]
 ...
 [8.17002448e-12 2.04081633e-02 5.55555556e-02 ... 0.00000000e+00
  5.55555556e-02 0.00000000e+00]
 [9.80689622e-12 0.00000000e+00 2.77777778e-02 ... 2.77777778e-02
  2.77777778e-02 8.00000000e-02]
 [1.96250424e-11 2.04081633e-02 5.55555556e-02 ... 2.77777778e-02
  5.55555556e-02 4.00000000e-02]]
Accuracy: 89.96%
[[3153    0]
 [ 352    0]]
0.0
              precision    recall  f1-score   support

           0       0.90      1.00      0.95      3153
           1       0.00      0.00      0.00       352

    accuracy                           0.90      3505
   macro avg       0.45      0.50      0.47      3505
weighted avg       0.81      0.90      0.85      3505

/usr/local/lib/python3.5/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
/usr/local/lib/python3.5/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [59]:
test_df = pd.read_csv("./input/Test_Cleaned.csv")

In [60]:
id_series = test_df['Col1']

In [61]:
submission_df = pd.DataFrame({'Col1':id_series})

In [36]:
test_df = drop_col(test_df, ['Col1'])

In [50]:
test_df =  test_df.reindex(sorted(test_df.columns), axis=1)

In [51]:
test_df.head()

,Col10,Col100,Col1000,Col1001,Col1002,Col1003,Col1004,Col1005,Col1006,Col1007,...,Col990,Col991,Col992,Col993,Col994,Col995,Col996,Col997,Col998,Col999
0,3.053853e+04,0.000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.147556e+07,0.000000,4,2,3,2,3,2,0,0,...,0,0,2,1,4,2,3,2,4,1
2,3.904086e+05,2.000000,3,2,0,0,1,0,2,1,...,0,0,0,0,2,3,2,2,2,1
3,8.650108e+04,1.864248,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
4,2.528307e+05,0.000000,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [52]:
sub_pred = xg_boost_predit(model, test_df)

In [63]:
submission_df['Col2'] = pd.Series(sub_pred)

In [64]:
submission_df.head()

        Col1  Col2
0  RIGD58ZWD     0
1  RIH660YDS     0
2  RIH660Q96     0
3  RIYDO15W1     0
4  RIYBGC1ZD     0

In [65]:
submission_df.to_csv("submission_v1.csv", index=False, header=True)

In [66]:
submission_df.groupby('Col2').count()

       Col1
Col2
0     18869
1      1573